{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}

 <section class="intro">
    <h1>Create new Evenement</h1>
    </section>

<div class="create-event-page">


        {{ include('evenement/_form.html.twig') }}

        <a href="{{ path('app_evenement_index') }}">back to list</a>
    </div>
{% endblock %}
